* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    /*outline: 1px solid red; /* DEBUG MOMENT */
}

body, html {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: #E6F0FF; /* Lighter blue background */
    height: 100%;
    padding: 0 20px;
    overflow: hidden;
    user-select: none;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007BFF;
    color: black;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 70px;
}

.header-left {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}

.logo {
    width: 70px;
}

.hover-box {
    display: none;
    position: absolute;
    top: 80px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 15px 20px;
    border-radius: 25%;
    width: max-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-align: center;
}

.header-left:hover .hover-box {
    display: block;
}

#intrude, #abandon {
    color: black;
    font-size: 1.2em;
    background-color: #007BFF;
}

#intrude:hover, #abandon:hover {
    text-decoration: underline;
    transform: scale(1.05);
}

#intrude:active, #abandon:active {
    transform: scale(0.95);
}

/*font-size: 1.2em;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
}

.button:hover {
    background-color: #004085;
    transform: scale(1.05);
}

.button:active {
    transform: scale(0.95);*/

.header {
    font-size: 2em;
    text-align: center;
    flex-grow: 1;
    font-weight: bold;
    max-width: max-content;
}

.header-right {
    display: flex;
    justify-content: space-around;
    width: 70px;
    height: 100%;
    text-align: center;
}

#specialityTitle {
    display: none;
    justify-content: center;
    color: black;
    padding-bottom: 25px;
}

.back-button {
    font-size: 1.2em;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
}

.back-button:hover {
    text-decoration: underline;
    transform: scale(1.05);
}

.back-button:active {
    transform: scale(0.95);
}

/* Main Content Layout */
.main-content {
    margin-top: 100px; /* Space for the fixed header */
    display: flex;
    justify-content: space-between;
    gap: 20px;
    height: 75vh;
}

/* Left Side - Selection Section */
.left-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#box {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #007BFF;
    height: 350px;
}

#title {
    display: none;
    text-align: center;
    margin-bottom: 20px;
}

#welcome {
    display: none;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 10px;
}

#wheelShot {
    display: none;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

#wheelShotResult {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#wheelComplete {
    display: none;
    text-align: center;
    justify-content: center;
    width: 100px;
}

#gameResult {
    display: none;
    text-align: left;
}

#askNeigh {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#ask1, #ask2, #ask3 {
    display: none;
    text-align: center;
    padding-bottom: 20px;
}
#ask1 { display: block; }

#neighButtons1, #neighButtons2, #neighButtons3 {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
#neighButtons1 { display: flex; }

#neighOptions {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#goBack {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#selectNeighPlayer, #selectNeighType {
    display: none;
    align-items: center;
}

#submitNeigh {
    display: none;
}

#buttonBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -10px;
    margin-bottom: -20px;
}

.button {
    font-size: 1.2em;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #004085;
    transform: scale(1.05);
}

.button:active {
    transform: scale(0.95);
}

#break, #victory {
    display: none;
}

/* Checkbox Group Styles */

#playersCheckboxes label {
    display: inline-flex; /* Make checkboxes inline */
    align-items: center;
    background-color: white;
    border: 2px solid #007BFF;
    border-radius: 5px;
    padding: 8px 10px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: 1em; /* Smaller font size */
}

#playersCheckboxes input[type="checkbox"]:checked + label {
    background-color: #007BFF;
    color: white;
}

#playersCheckboxes input[type="checkbox"] {
    display: none; /* Hide the checkbox itself */
}

#playersCheckboxes label:hover {
    transform: scale(1.05);
}

#playersCheckboxes label:active {
    transform: scale(0.95);
}

/* Game Categories and Players Layout */
#playersCheckboxes {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
  
#start-button {
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
#start-button:hover {
    background-color: #45a049;
}
  
#start-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.curr_game {
    display: none;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    height: 100%;
    overflow-y: auto;
}

.curr_game_setup {
    display: none;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    gap: 10px;
}

.num_box {
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    font-size: 14px;
    width: 200px;
    border: 2px solid #007BFF;
    border-radius: 5px;
}

.curr_game_start {
    display: flex;
    align-items: center;
    vertical-align: middle;
}

.curr_game_game {
    display: none;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    width: 100%;
}

.curr_game_box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    background-color: white;
    width: 100%;
    overflow:visible;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #007BFF;
}

.curr_game_results {
    display: none;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    width: 100%;
    max-height: 275px;
    gap: 5px;
}

.game_select {
    display: flex;
    padding: 5px;
    font-size: 14px;
    width: 200px;
    border: 2px solid #007BFF;
    border-radius: 5px;
}

#singleContainer {
    margin: 20px;
    row-gap: 50px;
}

/* Center the two sections using flexbox */
#knockoutContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px auto;
    width: 80%;
    max-width: 900px;
    flex-wrap: wrap; /* Allow wrapping of child elements if necessary */
    gap: 10px; /* Add spacing between items */
}

#betrayalPlayers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px 0px;
}

#betrayal_non_traitors {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* Styling for the player selection boxes */
.player-box {
    background-color: white;
    border: 2px solid #007BFF;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 10px;
    cursor: pointer;
    font-size: 1.25em;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
    min-width: 150px;
}

.player-box:hover {
    transform: scale(1);
    background-color: #f0f8ff;
}

.player-box.selected {
    background-color: #007BFF;
    color: white;
}

/* Styling for the knockout order boxes */
.order-box {
    background-color: white;
    border: 2px solid #007BFF;
    border-radius: 10px;
    padding: 15px 20px;
    margin: 10px;
    font-size: 1.25em;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease;
    min-width: 150px;
}

.order-box:hover {
    transform: scale(1.1);
}

.order-box:active {
    transform: scale(0.95);
}

.player-box, .order-box {
    box-sizing: border-box; /* Ensures padding/border are included in width/height */
    max-width: 140px; /* Limit the width to prevent overflow */
    padding: 8px 10px; /* Reduce padding to make the boxes smaller */
    margin: 5px; /* Reduce margin */
    font-size: 1em; /* Adjust font size for consistency */
}


#roundContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.round {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.roundHeader {
    padding: 20px 0;
    text-align: center;
}

.match {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    gap: 10px;
}

.player-box-2 {
    padding: 10px 20px;
    border: 2px solid #007BFF;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
    text-align: center;
}

.player-box-2:hover {
    background-color: #f0f0f0;
}

.versus {
    margin: 0 10px;
    font-weight: bold;
}

#teams, #teamPlayers {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
    margin: 20px 0px;
    text-align: center;
    vertical-align: middle;
    align-items: center;
}

#randomise {
    text-align: center;
    align-items: center;
}

#teamButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.player-box-3 {
    flex-direction: row;
    background-color: white;
    border: 2px solid #007BFF;
    border-radius: 10px;
    padding: 8px 10px;
    margin: 5px;
    cursor: pointer;
    font-size: 1em;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
    min-width: 150px;
    box-sizing: border-box; /* Ensures padding/border are included in width/height */
}

.curr_game_header {
    display: none;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    font-weight: bold;
    text-align: center;
}

#coin_box {
    display: flex;
    gap: 30px;
    justify-content: space-around;
}

#player_coin_header {
    text-align: center;
    padding-bottom: 30px;
}

#coin {
    position: relative;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    cursor: pointer;
    transition: -webkit-transform 1s ease-in;
    -webkit-transform-style: preserve-3d;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

#coin div {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    -webkit-box-shadow: inset 0 0 45px rgba(255,255,255,.3), 0 12px 20px -10px rgba(0,0,0,.4);
       -moz-box-shadow: inset 0 0 45px rgba(255,255,255,.3), 0 12px 20px -10px rgba(0,0,0,.4);
            box-shadow: inset 0 0 45px rgba(255,255,255,.3), 0 12px 20px -10px rgba(0,0,0,.4);
    position: absolute;
    -webkit-backface-visibility: hidden;
}

#side_a {
    /*background-color: #bb0000;*/
    background: linear-gradient(135deg, #d4af37 10%, #f7e4a3 25%, #b8902d 50%, #e8c972 75%, #8d6920 90%);
    z-index: 100;
}

#side_b {
    /*background-color: #3e3e3e;*/
    background: linear-gradient(135deg, #999 5%, #fff 10%, #ccc 30%, #ddd 50%, #ccc 70%, #fff 80%, #999 95%);
    -webkit-transform: rotateY(-180deg);
}

#side_a_text, #side_b_text {
    padding-top: 40px;
}
  
#coin.heads {
    -webkit-animation: flipHeads 3s ease-out forwards;
    -moz-animation: flipHeads 3s ease-out forwards;
      -o-animation: flipHeads 3s ease-out forwards;
         animation: flipHeads 3s ease-out forwards;
}

#coin.tails {
    -webkit-animation: flipTails 3s ease-out forwards;
    -moz-animation: flipTails 3s ease-out forwards;
      -o-animation: flipTails 3s ease-out forwards;
         animation: flipTails 3s ease-out forwards;
}
  
@-webkit-keyframes flipHeads {
    from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
    to { -webkit-transform: rotateY(1800deg); -moz-transform: rotateY(1800deg); transform: rotateY(1800deg); }
}

@-webkit-keyframes flipTails {
    from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
    to { -webkit-transform: rotateY(1980deg); -moz-transform: rotateY(1980deg); transform: rotateY(1980deg); }
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    table-layout: fixed;
}
  
th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    width: 100%;
}
  
th {
    background-color: #007BFF;
    color: white;
}
  
td[contenteditable="true"] {
    background-color: #f9f9f9;
    outline: none;
}
  
td[contenteditable="true"]:hover {
    background-color: #eaf3ff;
}

#submit,
#next,
#finish {
    display: none;
}

/* Right Side - Wheel Section */
.right-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
  
#game_wheel {
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#spin {
    display: flex;
    font: 1.2em/0 "Lato", sans-serif;  /* Adjust font size to match smaller button */
    user-select: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12%;  
    height: 12%; 
    margin-left: -6%;
    margin-top: -6%;
    background: #fff;
    color: #fff;
    box-shadow: 0 0 0 3px currentColor, 0 0px 12px 4px rgba(0, 0, 0, 0.2);  /* Adjust shadow for smaller button */
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.8s;
}
  
#spin::after {
    content: "";
    position: absolute;
    top: -17px;
    border: 10px solid transparent;
    border-bottom-color: currentColor;
    border-top: none;
}
  
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
  
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

#player_wheel {
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#spin2 {
    display: flex;
    font: 1.2em/0 "Lato", sans-serif;  /* Adjust font size to match smaller button */
    user-select: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12%;  
    height: 12%; 
    margin-left: -6%;
    margin-top: -6%;
    background: #fff;
    color: #fff;
    box-shadow: 0 0 0 3px currentColor, 0 0px 12px 4px rgba(0, 0, 0, 0.2);  /* Adjust shadow for smaller button */
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.8s;
}
  
#spin2::after {
    content: "";
    position: absolute;
    top: -17px;
    border: 10px solid transparent;
    border-bottom-color: currentColor;
    border-top: none;
}

#choosing_game {
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
}

#choosing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    overflow-y: auto;
    gap: 30px;
    padding-right: 10px;
}

.gameBox {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #007BFF;
    cursor: pointer;
    height: max-content;
}

#voting_game {
    display: none;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

#voting {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    gap: 30px;
}

.playerBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #007BFF;
    height: max-content;
    align-items: center;
}

.votingSelect {
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid #007BFF;
}

#vote {
    display: none;
}

.checkbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.checkbox > svg {
    position: absolute;
    pointer-events: none;
}

.checkbox * {
    box-sizing: border-box;
}
  
.checkbox input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    margin: 0;
}
  
.checkbox input[type="checkbox"]:focus {
    outline: 0;
}
  
.checkbox .cbx {
    width: 24px;
    height: 24px;
    position: relative;
}
  
.checkbox .cbx input {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border: 2px solid #007BFF;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.3s, border-color 0.3s;
}

.checkbox .cbx input:checked {
    background-color: #007BFF;
    border-color: #007BFF;
}
  
.checkbox .cbx label {
    width: 24px;
    height: 24px;
    background: none;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transform: trasnlate3d(0, 0, 0);
    pointer-events: none;
}
  
.checkbox .cbx svg {
    position: absolute;
    top: 5px;
    left: 4px;
    z-index: 2;
    pointer-events: none;
}
  
.checkbox .cbx svg path {
    stroke: #fff; /* Keeps the checkmark white */
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 18;
    stroke-dashoffset: 18;
    transition: stroke-dashoffset 0.3s ease, stroke 0.3s ease;
}
  
.checkbox .cbx input:checked + label {
    animation: splash-blue 0.6s ease forwards;
}
  
.checkbox .cbx input:checked + label + svg path {
    stroke-dashoffset: 0;
}
  
@keyframes splash-blue {
    40% {
        background: #007BFF; /* Blue ripple effect */
        box-shadow: 
            0 -18px 0 -8px #007BFF, 
            16px -8px 0 -8px #007BFF, 
            16px 8px 0 -8px #007BFF, 
            0 18px 0 -8px #007BFF, 
            -16px 8px 0 -8px #007BFF, 
            -16px -8px 0 -8px #007BFF;
    }
    100% {
        background: #007BFF; /* Final color */
        box-shadow: 
            0 -36px 0 -10px transparent, 
            32px -16px 0 -10px transparent, 
            32px 16px 0 -10px transparent, 
            0 36px 0 -10px transparent, 
            -32px 16px 0 -10px transparent, 
            -32px -16px 0 -10px transparent;
    }
}

.checkboxLabel {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: black;
}

#middle-container {
    display: none;
    width: max-content;
    height: max-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#middle-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid #007BFF;
    color: #007BFF;
    padding: 15px 20px;
    border-radius: 10px;
    width: max-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-align: center;
}

#intrude-game,
#abandon-game,
#break-shot,
#victory-shot {
    display: none;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

#intrude-game-players,
#abandon-game-players,
#break-shot-players,
#victory-shot-players {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.middle-select {
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #007BFF;
}

#intrude-game-specialities {
    display: none;
    flex-direction: row;
    gap: 20px;
    height: 50px;
    overflow-y: auto;
}

#intrude-game-result,
#abandon-game-result {
    display: none;
}

#intrude-game-button,
#abandon-game-button,
#break-shot-button,
#victory-shot-button {
    display: none;
}

#overallResultsBox {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #007BFF;
    height: 350px;
    gap: 20px;
}

#overallResults {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.overallPlayerBox {
    width: 50%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #007BFF;
    height: max-content;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overallPlayerInfo {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

::-webkit-scrollbar {
    width: 20px;
}
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #007BFF; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #004085; 
}
